{
  "presets": [
    "@babel/preset-env",
    "@babel/preset-react"
  ],
  "plugins": [
    ["@babel/plugin-proposal-decorators", { "decoratorsBeforeExport": true }],
    "@babel/plugin-proposal-class-properties"
  ],
  "env": {
    "examples": {
      "plugins": [
        
        ["babel-plugin-webpack-alias", {"config": "./examples/webpack.config.server.js"}]
      ]
    } 
  }
}
