language: node_js
sudo: false
node_js:
  - "node"
cache:
  directories:
  - node_modules
matrix:
  fast_finish: true
  include:
    - node_js: stable
before_install:
  - export CHROME_BIN=chromium-browser
  - export DISPLAY=:99.0
  - sh -e /etc/init.d/xvfb start
script:
  - npm test
  - npm run bundlesize
after_success:
  - cat ./coverage/lcov.info | ./node_modules/codecov.io/bin/codecov.io.js
